<% link ||= link %>

<li style="background: <%= swatch.color.value %>">
  <% if link %>
    <%= link_to swatch.color.value, user_path(:id => swatch.user.username), :title => swatch.user.username %>        
  <% else %>
    <%= swatch.color.value %>
  <% end %>  
</li>