/* html
------------------------------------------- */

body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

header, section, footer {
	display: block;
}

ul {
	padding-left: 1em;
}

h1 a {
	text-decoration: none;
	padding: 5px 0;
}

h1 a:hover {
	border-bottom: 1px dotted #aaa;
}

a {
	color: #000;
}

nav {
	background: #fafafa;
	padding: 6px 10px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 80%;
	float: right;
	color: #aaa;
	border-radius: 0 0 4px 4px;
}

nav a {
	color: #aaa;
	text-decoration: none;
}

form ol {
	padding: 0;
	list-style: none;
}

form li {
	margin-bottom: 1em;
}

form .input .error {
	color: #E56757;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;	
}

form .input label {
	display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
	width: 300px;
	margin-right: 15px;
	padding: 4px;
	font-size: 12px;
}

/* #ids
------------------------------------------- */

#wrap {
	width: 960px;
	width: 70%;
	margin: 0 auto;	
	padding: 30px 0;
	position: relative;
}

#content {
	margin: 3em 0;
}

#new_swatch {
	position: absolute;
	top: 40px;
	right: 0;
}

#new_swatch input {
	font-size: 14px;
	padding: 6px;
	border: 0;
	background: #eee;
	border: 1px solid #eee;
}

#new_swatch input[type="text"] {
	width: 100px;
}

#paintbox {
	padding: 0;
}

#paintbox li {
	list-style: none;
	float: left;
	display: block;
	background: #eee;
	text-indent: -999em;
	overflow: hidden;
	height: 30px;
	width: 30px;	
	margin: 0 5px 5px 0;
	-webkit-border-radius: 20px;	
	   -moz-border-radius: 50%;	
	        border-radius: 50%;

}

#paintbox li a {
	display: block;
	height: 100%;
	width: 100%;
}

/* .classes
------------------------------------------- */

.or, .or a {
	font-size: 12px;
	color: #aaa;
}

.delete {
	color: #E56757;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

nav.admin {
	right: 250px;
}

.flash {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	border-radius: 0 0 4px 4px;	
	margin: 0;
	padding: 6px 10px;	
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;	
	color: white;	
}

.flash.success {
	background: #7AF35E;
}

.flash.error {
	background: #E56757;
}
