<p>
  Paintbox is a place for saving, sharing and playing with your favorite colors.
</p>

I made it to learn Rails, railstutorial.org
Design inspired by muxtape

I wanted a place to save colors online

Paintbox is open source => link to github


Feature Roadmap

These are the planned features:

* Upgrade to Rails 3
* Use Devise for login system
* Tag colors
* Clone colors
* Import colors from a URL
* Import/export color palettes / swatches
* Color sorting (hue, custom)
* Color picker integration
* Color modes (rgb, hsv)
* API
* Visualizations

Feature request => github issues

Colophon

Rails
jQuery
Heroku
jscolor picker