/* html
------------------------------------------- */

body {
	font-family: Helvetica;
	color: #333;
	margin: 0;
	padding: 0;
}

header, section, footer {
	display: block;
}

ul {
	padding-left: 1em;
}

h1 {
  font-size: 32px;
  letter-spacing: -2px;
  text-transform: lowercase;
}

h1 a {
	text-decoration: none;
  padding: 5px 0;
}

h1 a:hover {
	border-bottom: 1px dotted #aaa;
}

a {
	color: #333;
}

nav {
	font-size: 80%;
  font-weight: bold;
	color: #ccc;
	padding: 10px 0;
	position: absolute;
	right: 0;
	top: 0;
}

nav a {
	color: #ccc;
	text-decoration: none;
	-webkit-transition: color .2s;
}

nav a:hover {
  color: #333;
}

form ol {
	padding: 0;
	list-style: none;
}

form li {
	margin-bottom: 1em;
}

form .input .error {
	color: #E56757;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;	
}

form .input label {
	display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
	width: 300px;
	margin-right: 15px;
	padding: 4px;
	font-size: 12px;
}

/* #ids
------------------------------------------- */

#wrap {
	width: 960px;
	width: 70%;
	margin: 0 auto;	
	padding: 30px 0;
	position: relative;
}

#content {
	margin: 3em 0;
}

#picker {
	position: absolute;
	top: 40px;
	right: 0;
}

#picker input {
	font-size: 14px;
	padding: 6px;
	border: 0;
	background: #eee;
	border: 1px solid #eee;
}

#picker input[type="text"] {
	width: 100px;
}

#paintbox {
	padding: 0;
}

/* .classes
------------------------------------------- */

.swatch {
  list-style: none;
	float: left;
}

.swatch span {
	display: block;
	background: #eee;
	text-indent: -999em;
	overflow: hidden;
	height: 30px;
	width: 30px;	
	margin: 0 5px 5px 0;
	-webkit-border-radius: 50%;	
	   -moz-border-radius: 50%;	
	        border-radius: 50%;
}

.swatch a {
	display: block;
	height: 100%;
	width: 100%;
}

.or, .or a {
	font-size: 12px;
	color: #aaa;
}

.delete {
	color: #E56757;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

nav.admin {
	right: 250px;
}

.flash {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	border-radius: 0 0 4px 4px;	
	margin: 0;
	padding: 6px 10px;	
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;	
	color: white;	
}

.flash.success {
	background: #7AF35E;
}

.flash.error {
	background: #E56757;
}

.tipsy {
  font-family: Verdana;
  font-size: 11px;
}

.group:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
